/* --------------------Navbar--------------------- */

/*---Tablets and Mobile ---*/

@media (min-width: 250px) and (max-width: 1024px) {
  .ml{
    margin-left: 0 !important;
  }
  .mr{  
    margin-right: 0 !important;
  }
}

/* -------------------- Content --------------------- */

/*---Tablets and Mobile ---*/

@media (min-width: 250px) and (max-width: 1024px) {
 .jackpotFont{
   float: unset;
   text-align: center;
 }
.contentPaddingTop {
  padding-top: 1rem;
}
}


